body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

p{
  font-family: 'Press Start 2P', cursive;
}
.container{
  display: flex;
  flex-wrap: wrap;
  border: solid 5px black;
  max-width: 1020px;
  /*max-height: 510px;*/
  margin-top: 40px;

}



.card{
  width: 150px;
  height: 150px;
  background-color: hotpink;
  margin: 10px 10px 10px 10px;
  transform: rotateX(0deg);
  transition: all 0.5s ease-in;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 10px;

}



.flip{
  background-color: red;
  transform: rotateX(180deg);
  transition: all 0.5s ease-in;
}
.card p{
  pointer-events: none;
  opacity: 0;
  font-size: 50px;
  transform: rotateX(0deg);
  transition: all 0.5s ease-in;
  text-align: center;
}

.card img{
  pointer-events: none;
  width: 150px;
  height: 150px;
  transform: rotateX(0deg);
  transition: all 0.5s ease-in;
  opacity: 0;
}

/*IPAD MODE*/
@media screen and (max-width: 768px){
  .container {
    max-width: 700px;
    justify-content: center;
  }
  .card p{
    font-size: 45px;
  }
}

/*MOBILE MODE*/
@media screen and (max-width: 415px){
  .card{
  width: 85px;
  height: 85px;
  margin: 10px 10px 10px 10px;
  }
  .container{
    max-width: 320px;
  }
  .card p{
    font-size: 27px;
  }
  .card img{
    width: 85px;
    height: 85px;
  }
}

.showNum p{
  opacity: 1;
  transform: rotateX(180deg);
  transition: all 0.5s ease-in;
}
.showNum img{
  opacity: 1;
  transform: rotateX(180deg);
  transition: all 0.5s ease-in;
}


.completed{
  background-color: green;
}

button{
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}

.shake-horizontal {
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

.rotate{
  transform: rotate(360deg);
}

.restart{
  width: 30%;
  background-color: hotpink;
  text-align: center;
  margin-top: 20px;
  border: 5px solid black;
}
